.search-box {
  display: block;
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.input,
.country-info {
  margin-top: 15px;
  margin-left: 15px;
}

.country-name {
  font-weight: 700;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.country-name-small {
  font-weight: 700;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 7px;
}

.country-wrapper {
  display: flex;
  align-items: center;
}

.country-list {
  list-style: none;
  padding-left: 20px;
}
