.btn {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 0;
}

.btn--small {
  margin-left: auto;
  padding: 5px 100px;
  font-size: 16px;
}

.promise-btn {
  height: 50px;
  margin-top: 27px;
}
.btn--mrg-left {
  margin-left: 20px;
}

.btn--mrg-right {
  margin-right: 20px;
}

.btn--mrg-left:first-of-type {
  margin-top: 50px;
}

.btn-stopwatch-wrapper {
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.btn:disabled {
  cursor: default;
  opacity: 0.3;
}

.btn:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.btn:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.btn:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.data-timer {
  font-weight: 700;
  font-size: 16px;
  padding: 5px 8px;
}

.timer {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 34px;
}

.label {
  font-size: 14px;
  font-weight: 700;
}

.field:not(:last-child) {
  margin-right: 15px;
}

.input-promises {
  display: block;
}

.label-promises:not(:last-child) {
  margin-right: 15px;
}

.form-promises {
  margin-left: 20px;
  font-size: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.title--margin-top {
  margin-top: 100px;
}

.color-switcher-btn {
  margin-left: auto;
  width: 200px;
  height: 50px;
}

.box-input {
  width: 180px;
  height: 50px;
  padding: 8px;
  font: inherit;
}
