<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" rel="shortcut icon" href="../images/js.ico" />
    <title>Country Search</title>
  </head>
  <body>
    <a type="button" href="../index.html" class="return-btn">Return</a>
    <input type="text" id="search-box" class="input search-box" />
    <ul class="country-list"></ul>
    <div class="country-info"></div>

    <script src="../js/countrySearch/countrySearch.js"></script>
  </body>
</html>
