<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" rel="shortcut icon" href="../images/js.ico" />
    <title>Gallery</title>
  </head>
  <body>
    <p><a href="../index.html" class="return-btn">Return</a></p>

    <!-- Add gallery items to this list -->
    <h1 class="gallery-title" id="colorSwitcherTitle">Gallery</h1>
    <p class="gallery-text">Created dynamically from JS. The data is taken from json.</p>
    <div class="gallery"></div>

    <script src="../js/gallery/gallery.js"></script>
  </body>
</html>
